<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Generate Entity using SX-CLI</title>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
  </style>
  <style>
    body {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
    }

    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"
    integrity="sha512-DdX/YwF5e41Ok+AI81HI8f5/5UsoxCVT9GKYZRIzpLxb8Twz4ZwPPX+jQMwMhNQ9b5+zDEefc+dcvQoPWGNZ3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/primevue/umd/primevue.min.js"></script>
  <script src="https://unpkg.com/@primevue/themes/umd/aura.min.js"></script>
  <div class="w-full h-screen pt-12" id="app" v-cloak>
    <p-toast></p-toast>
    <div class="container mx-auto px-80">
      <h1 class="capitalize text-3xl font-semibold" style="color: #10b981">
        {{pathName}}
      </h1>
      <form class="mt-6">
        <div class="grid grid-cols-12 gap-5 mb-6">
          <div class="col-span-6">
            <div class="flex flex-col gap-2">
              <label class="font-regular" for="entityname">Entity name</label>
              <p-input size="small" id="entityname" v-model="entityName" aria-describedby="username-help" />
            </div>
          </div>

          <div class="col-span-6">
            <div class="flex flex-col gap-2">
              <label class="font-regular" for="apiidsingular">Api ID (singular)</label>
              <p-input size="small" id="apiidsingular" v-model="singularEntityName"
                aria-describedby="apiidsingular-help" />
            </div>
          </div>
          <div class="col-span-6">
            <div class="flex flex-col gap-2">
              <label class="font-regular" for="apiidplural">Api ID (plural)</label>
              <p-input size="small" id="apiidplural" v-model="pluralEntityName" aria-describedby="apiidplural-help" />
            </div>
          </div>
          <div class="col-span-6">
            <div class="flex flex-col gap-2">
              <label class="font-regular" for="apiidplural">Group name(path)</label>
              <p-input placeholder="ex: /admin/users" size="small" id="groupName" v-model="groupName"
                aria-describedby="groupname-help" />
            </div>
          </div>
        </div>
        <divider></divider>
      </form>

      <!-- migration field list -->
      <div>
        <div class="flex justify-between items-center">
          <p class="text-surface-500 dark:text-surface-400 mb-4 text-lg font-semibold">
            Fields
          </p>
          <p-button @click="handleCreateField" size="small" badgeSeverity="info">
            Create fields
          </p-button>
        </div>

        <p-table v-if="migrationFields?.length" :value="migrationFields" tableStyle="min-width: 50rem">
          <p-column field="name" header="Name"></p-column>
          <p-column field="type" header="Type"></p-column>
          <p-column field="validationRules" header="Validation rules"></p-column>
          <p-column style="width: 4rem" field="actions" header="Actions">
            <template #body="{ item, index }">
              <div class="flex items-center gap-2">
                <p-button style="width: 100px" @click="migrationFields.splice(index, 1)" size="small" label="Delete"
                  severity="danger" rounded size="small">
                </p-button>
                <p-button style="width: 100px" @click="toggleField(index)" size="small" label="Edit" severity="success"
                  rounded size="small">
                </p-button>
              </div>
            </template>
          </p-column>
        </p-table>
        <div class="flex justify-end mt-8 gap-1" v-if="migrationFields?.length">
          <p-button @click="reset" size="small" severity="secondary">
            Cancel
          </p-button>
          <p-button size="small" :loading="isLoading" severity="info" @click="createEntity">
            Create entity
          </p-button>
        </div>
      </div>
    </div>
    <p-dialog v-model:visible="isVisibleModal" modal :header="isClickedUpdate ? 'Update field' : 'Create field'"
      :style="{ width: '50rem' }">
      <div class="grid grid-cols-12 gap-5">
        <div class="col-span-6">
          <div class="flex flex-col gap-2">
            <label for="fieldname">Enter the name of the field</label>
            <p-input type="text" id="fieldname" v-model="fieldName" aria-describedby="field name" />
          </div>
        </div>
        <div class="col-span-6">
          <div class="flex flex-col gap-2">
            <label for="fieldname">Select the type of the field</label>
            <p-select filter :options="migrationTypes" placeholder="Select field type" style="height: 40px"
              v-model="selectedType" aria-describedby="field type">
            </p-select>
          </div>
        </div>
        <div class="col-span-6">
          <div class="flex flex-col gap-2">
            <label for="nullable">Nullable</label>
            <p-toggle-switch type="text" id="nullable" v-model="isNullable" aria-describedby="isNullable" />
          </div>
        </div>
        <div class="col-span-6">
          <div class="flex flex-col gap-2">
            <label for="validationRules">Enter the validation rules of the field</label>
            <p-input type="text" id="validationRules" v-model="validationRules" aria-describedby="validation rules" />
          </div>
        </div>

      </div>
      <div class="flex justify-end gap-2 mt-4">
        <p-button size="small" type="button" severity="secondary" label="Cancel" @click="reset"></p-button>
        <p-button v-if="isClickedUpdate" size="small" type="button" label="Update"
          @click="updateField(currentIndex)"></p-button>
        <p-button v-else size="small" type="button" label="Save" @click="addField"></p-button>
      </div>
    </p-dialog>
  </div>

  <script type="module">
    const { createApp, ref, onMounted } = Vue;
    const app = createApp({
      setup() {
        const isLoading = ref(false);
        const projectPath = new URLSearchParams(window.location.search).get(
          "projectPath"
        );
        const pathName = location.pathname.split("/")[2];
        const entityName = ref(pathName);
        const isVisibleModal = ref(false);
        const migrationTypes = ref([]);
        const selectedType = ref(null);
        const fieldName = ref("");
        const migrationFields = ref([]);
        const isClickedUpdate = ref(false);
        const currentIndex = ref(0);
        const singularEntityName = ref("");
        const pluralEntityName = ref("");
        const validationRules = ref("");
        const groupName = ref("");
        const toast = PrimeVue.useToast();
        const isNullable = ref(false);
        const show = (
          severity = "info",
          summary = "Info",
          detail = "Message Content"
        ) => {
          toast.add({
            severity: severity,
            summary: summary,
            detail: detail,
            life: 10000,
          });
        };
        async function createEntity() {
          try {
            isLoading.value = true;
            const body = {
              title: entityName.value,
              apiIdSingular: singularEntityName.value,
              apiIdPlural: pluralEntityName.value,
              fields: migrationFields.value,
              projectPath,
              groupName: groupName.value,
            };
            await axios.post("/api/laravel/create-entity", body);
            show();
            reset();
            isLoading.value = false;
          } catch (e) {
            isLoading.value = false;
            show("error", "Error", e.response.data.message);

          }
        }

        function reset() {
          entityName.value = "";
          singularEntityName.value = "";
          pluralEntityName.value = "";
          groupName.value = "";
          isVisibleModal.value = false;
          fieldName.value = "";
          selectedType.value = null;
          validationRules.value = "";
          isNullable.value = false;
          migrationFields.value = [];
          isClickedUpdate.value = false;
          currentIndex.value = -1;
        }
        function toggleField(index) {
          currentIndex.value = index;
          isClickedUpdate.value = true;
          isVisibleModal.value = true;
          fieldName.value = migrationFields.value[index].name;
          selectedType.value = migrationFields.value[index].type;
          validationRules.value =
            migrationFields.value[index].validationRules;
          isNullable.value = migrationFields.value[index].isNullable;
        }

        function updateField(index) {
          migrationFields.value[index].name = fieldName.value;
          migrationFields.value[index].type = selectedType.value;
          migrationFields.value[index].validationRules =
            validationRules.value;
          migrationFields.value[index].isNullable = isNullable.value;
          isVisibleModal.value = false;
          fieldName.value = "";
          selectedType.value = null;
          validationRules.value = "";
          isNullable.value = false;
          isClickedUpdate.value = false;
        }
        function addField() {
          migrationFields.value.push({
            name: fieldName.value,
            type: selectedType.value,
            actions: "actions",
            validationRules: validationRules.value,
            isNullable: isNullable.value
          });
          isVisibleModal.value = false;
          fieldName.value = "";
          selectedType.value = null;
          validationRules.value = "";
          isNullable.value = false;
          isClickedUpdate.value = false;
        }
        async function getMigrationTypes() {
          try {
            const res = await axios.get("/api/laravel/migration-types");
            migrationTypes.value = res.data;
          } catch (e) {
            console.error(e);
          }
        }

        function handleCreateField() {
          isClickedUpdate.value = false;
          isVisibleModal.value = true;
          currentIndex.value = -1;
          fieldName.value = "";
          selectedType.value = null;
          validationRules.value = "";
          isNullable.value = false;
        }

        onMounted(() => {
          getMigrationTypes();
        });
        return {
          pathName,
          isVisibleModal,
          migrationTypes,
          selectedType,
          migrationFields,
          addField,
          fieldName,
          toggleField,
          updateField,
          currentIndex,
          isClickedUpdate,
          singularEntityName,
          pluralEntityName,
          entityName,
          reset,
          createEntity,
          isLoading,
          projectPath,
          validationRules,
          groupName,
          show,
          isNullable,
          handleCreateField
        };
      },
    });

    app.use(PrimeVue.Config, {
      theme: {
        preset: PrimeVue.Themes.Aura,
      },
    });
    app.use(PrimeVue.ToastService);
    app.component("p-datepicker", PrimeVue.DatePicker);
    app.component("p-input", PrimeVue.InputText);
    app.component("divider", PrimeVue.Divider);
    app.component("p-button", PrimeVue.Button);
    app.component("p-dialog", PrimeVue.Dialog);
    app.component("p-select", PrimeVue.Select);
    app.component("p-table", PrimeVue.DataTable);
    app.component("p-column", PrimeVue.Column);
    app.component("p-toast", PrimeVue.Toast);
    app.component("p-toggle-switch", PrimeVue.ToggleSwitch);
    app.mount("#app");
  </script>
</body>

</html>