@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("./css/tailwind.css");

body {
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

:root {
    --bg-primary: #ffffff;
    --bg-secondary: #f3f4f6;
    --text-primary: #000000;
    --text-secondary: #4b5563;
    --accent-color: #3b82f6;
  }
  
  [data-theme="dark"] {
    --bg-primary: #1f2937;
    --bg-secondary: #111827;
    --text-primary: #ffffff;
    --text-secondary: #9ca3af;
    --accent-color: #60a5fa;
  }
  
  
  .bg-primary {
    background-color: var(--bg-primary);
  }
  
  .bg-secondary {
    background-color: var(--bg-secondary);
  }
  
  .text-primary {
    color: var(--text-primary);
  }
  
  .text-secondary {
    color: var(--text-secondary);
  }
  
  .accent {
    color: var(--accent-color);
  }
  
  .bg-accent {
    background-color: var(--accent-color);
  }
